@model Game_Cheats_App.Models.Cheats

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Cheats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheatDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheatDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CheatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
