@model IEnumerable<Game_Cheats_App.Models.Cheats>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table d-lg-table-cell table-striped table-bordered">
    <thead class="text-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheatDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheatId" class="text-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CheatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CheatId" class ="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
